{% extends 'base.html.twig' %}
{% set queryParams = app.request.query.all %}
{% block title %}Country index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title">Title</h1>
        <form method="get" action="{{ path('country.index',
            queryParams) }}">
            <div class="field-body is-justify-content-space-between">
                <div class="field is-narrow">
                    <div class="select">
                        <select name="limit" onchange="form.submit()">
                            <option value="{{ app.request.query.get('limit')|default(10) }}" selected
                                    hidden>{{ app.request.query.get('limit')|default(10) }}</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div>

                <div class="field is-narrow is-grouped">
                    <p class="control">
                        <a class="button {% if app.request.query.has('continent') == false %}has-background-light{% endif %}"
                           href="{{ path('country.index') }}">
                            All
                        </a>
                    </p>
                    {% for continent in continentList %}
                        <p class="control">
                            <a class="button {% if app.request.query.get('continent') == continent %}
                            has-background-light{% endif %}"
                               href="{{ path('country.index',
                                   queryParams|merge({continent: continent, page: null, limit: app.request.query.get('limit') })) }}">
                                {{ continent }}
                            </a>
                        </p>
                    {% endfor %}
                </div>
                <div class="field is-narrow has-addons">
                    <div class="control">
                        <input class="input" name="search" type="search" placeholder="Search by country...">
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-info">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <table class="table is-striped is-hoverable is-fullwidth">
            {% if app.request.query.get('direction') == 'desc' %}
                {% set nextDirection = 'asc' %}
            {% else %}
                {% set nextDirection = 'desc' %}
            {% endif %}
            <thead>
            <tr{# {{ stimulus_controller('sort-table', {sortBy: queryParams.sortBy, direction: queryParams.direction}) }} #}>
                <th>#</th>
                <th>
                    <a href="{{ path('country.index',queryParams|merge({sortBy: 'continent', direction: nextDirection })) }}">
                        Continent</a></th>
                <th>
                    <a href="{{ path('country.index',queryParams|merge({sortBy: 'code', direction: nextDirection })) }}">
                        Code</a></th>
                <th>
                    <a href="{{ path('country.index',queryParams|merge({sortBy: 'name', direction: nextDirection })) }}">
                        Name</a>
                </th>
                <th>
                    <a href="{{ path('country.index',queryParams|merge({sortBy: 'totalConfirmed', direction: nextDirection })) }}">
                        Confirmed</a>
                </th>
                <th>
                    <a href="{{ path('country.index',queryParams|merge({sortBy: 'totalDeaths', direction: nextDirection })) }}">
                        Deaths</a></th>

                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for country in pager %}
                <tr>
                    <td>{{ country.id }}</td>
                    <td>{{ country.continent | default('--') }}</td>
                    <td>
                        <p class="d-inline-flex">
                            <img src="{{ asset('flags-malenkie/') }}{{ country.flag }}" alt="flag"/>
                            &nbsp;<strong>{{ country.code }}</strong></p>
                    </td>
                    <td class="align-middle">{{ country.name }}</td>
                    <td>{{ country.totalConfirmed | default('--') }}
                        {% if country.newConfirmed != 0 %}
                            <small class="text-success fw-bold">...+{{ country.newConfirmed | default('--') }}</small>
                        {% endif %}
                    </td>
                    <td>{{ country.totalDeaths | default('--') }}<small class="text-danger fw-bold ms-1">...+99</small>
                    </td>
                    <td>
                        <a href="{{ path('country.show', {'slug': country.slug}) }}">show</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">
                        <div class="text-center text-capitalize">no records found</div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr></tr>
            </tfoot>
        </table>
        {{ pagerfanta(pager, {'omitFirstPage': true }) }}
    </div>

{% endblock %}