{% extends 'base.html.twig' %}

{% block title %}Country index{% endblock %}

{% block body %}
    <h1>Country index</h1>
    <div class="count float-end">
        {# total: {{ pager.count }} #}
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>continent</th>
            <th>code</th>
            <th>name</th>
            <th>newConfirmed</th>
            <th>TotalConfirmed</th>
            <th>newDeaths</th>
            <th>totalDeaths</th>
            <th>newRecovered</th>
            <th>totalRecovered</th>
            <th>UpdatedAt</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for country in pager %}
            <tr>
                <td>{{ country.id }}</td>
                <td>{{ country.continent | default('--') }}</td>
                <td>
                    <p class="d-inline-flex">
                        <img src="{{ asset('flags-malenkie/') }}{{ country.code|lower }}.{{ 'png' }}" alt="flag"/>
                        &nbsp;<strong>{{ country.code }}</strong></p>
                </td>
                <td>{{ country.name }}</td>
                <td>{{ country.newConfirmed | default('--') }}</td>
                <td>{{ country.totalConfirmed | default('--') }}</td>
                <td>{{ country.newDeaths | default('--') }}</td>
                <td>{{ country.totalDeaths | default('--') }}</td>
                <td>{{ country.newRecovered | default('--') }}</td>
                <td>{{ country.totalRecovered | default('--') }}</td>

                <td>{{ country.updatedAt ? country.updatedAt|date('Y-m-d H:m:s') : '' }}</td>
                <td>
                    <a href="{{ path('country.show', {'slug': country.slug}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation float-end">
        {{ pagerfanta(pager, {'omitFirstPage': true }) }}
    </div>
{% endblock %}
