{% extends 'base.html.twig' %}
{% set queryParams = app.request.query.all %}
{% block title %}Country index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title">Countries Statistic</h1>
        <div class="field-body is-justify-content-space-between">
            <div class="field is-narrow">
                <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span>{{ queryParams.limit|default(10) }}</span>
                            <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" style="min-width: 3rem" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            <a class="dropdown-item" href="{{ path('country.index',
                                queryParams|merge({page: null, limit: 10 })) }}">
                                10
                            </a>
                            <a class="dropdown-item" href="{{ path('country.index',
                                queryParams|merge({page: null, limit: 25 })) }}">
                                25
                            </a>
                            <a class="dropdown-item" href="{{ path('country.index',
                                queryParams|merge({page: null, limit: 50 })) }}">
                                50
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-narrow is-grouped">
                <p class="control">
                    <a class="button {% if app.request.query.has('continent') == false %}has-background-light{% endif %}"
                       href="{{ path('country.index') }}">
                        All
                    </a>
                </p>
                {% for continent in continentList %}
                    <p class="control">
                        <a class="button {% if app.request.query.get('continent') == continent %}
                            has-background-light{% endif %}"
                           href="{{ path('country.index',
                               queryParams|merge({continent: continent, page: null, limit: app.request.query.get('limit') })) }}">
                            {{ continent }}
                        </a>
                    </p>
                {% endfor %}
            </div>

            <form class="field is-narrow has-addons is-horizontal">
                <div class="control">
                    <input class="input" name="search" type="search"
                           placeholder="Search by country..." value="{{ queryParams.search|default(null) }}">
                </div>
                <div class="control">
                    <button type="submit" class="button is-info">
                        Search
                    </button>
                </div>

            </form>

        </div>
        <table class="table is-striped is-hoverable is-fullwidth">
            {% if app.request.query.get('direction') == 'desc' %}
                {% set nextDirection = 'asc' %}
            {% else %}
                {% set nextDirection = 'desc' %}
            {% endif %}
            <thead>
            <tr{# {{ stimulus_controller('sort-table', {sortBy: queryParams.sortBy, direction: queryParams.direction}) }} #}>
                <th>#</th>
                <th>
                    <a href="{{ path('country.index',queryParams|merge({sortBy: 'continent', direction: nextDirection })) }}">
                        Continent</a></th>
                <th>
                    <a href="{{ path('country.index',queryParams|merge({sortBy: 'code', direction: nextDirection })) }}">
                        Code</a></th>
                <th>
                    <a href="{{ path('country.index',queryParams|merge({sortBy: 'name', direction: nextDirection })) }}">
                        Name</a>
                </th>
                <th>
                    <a href="{{ path('country.index',queryParams|merge({sortBy: 'totalConfirmed', direction: nextDirection })) }}">
                        Confirmed</a>
                </th>
                <th>
                    <a href="{{ path('country.index',queryParams|merge({sortBy: 'totalDeaths', direction: nextDirection })) }}">
                        Deaths</a>
                </th>
                <th>
                    CP%
                </th>
                <th>
                    DP%
                </th>
                <th>
                    DC%
                </th>

                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for country in pager %}
                <tr>
                    <td>{{ country.id }}</td>
                    <td>{{ country.continent | default('--') }}</td>
                    <td>
                        <p class="d-inline-flex">
                            <img src="{{ asset('flags-malenkie/') }}{{ country.flag }}" alt="flag"/>
                            &nbsp;<strong>{{ country.code }}</strong></p>
                    </td>
                    <td class="align-middle">{{ country.name }}</td>
                    <td>{{ country.totalConfirmed | default('--') }}
                        {% if country.newConfirmed != 0 %}
                            <small class="text-success fw-bold">...+{{ country.newConfirmed | default('--') }}</small>
                        {% endif %}
                    </td>
                    <td>{{ country.totalDeaths | default('--') }}<small class="text-danger fw-bold ms-1">...+99</small>
                    </td>
                    <td>
                        {{ country.getConfirmedOnPopulation }}
                    </td>
                    <td>
                        {{ country.getDeathsOnPopulation }}
                    </td>
                    <td>
                        {{ country.getDeathsOnConfirmed }}
                    </td>
                    <td>
                        <a href="{{ path('country.show', {'slug': country.slug}) }}">show</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">
                        <div class="text-center text-capitalize">no records found</div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr></tr>
            </tfoot>
        </table>
        {{ pagerfanta(pager, {'omitFirstPage': true }) }}
    </div>

{% endblock %}