{% extends 'base.html.twig' %}
{% set queryParams = app.request.query.all %}
 {% if app.request.query.get('direction') == 'desc' or app.request.query.get('direction') == null %}
     {% set nextDirection = 'asc' %}
 {% else %}
     {% set nextDirection = 'desc' %}
 {% endif %}
{% block title %}Country{% endblock %}

{% block body %}
    <h1>{{ country.name }}<img class="ms-3" src="{{ asset('flags-malenkie/') }}{{ country.flag }}" alt="flag"/></h1>
    <!-- Nav tabs -->
    <div class="row">
        <div class="col justify-content-end">
            <ul class="nav nav-tabs float-end" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                            type="button"
                            role="tab">Chart
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                            type="button"
                            role="tab">Data by date
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages"
                            type="button"
                            role="tab">About country
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane" id="home" role="tabpanel" tabindex="0">
            {{ render_chart(countryChart) }}
        </div>
        <div class="tab-pane active" id="profile" role="tabpanel" tabindex="0">
            <table class="table table-hover table-striped table-sm">
                <thead>
                <tr>
                    <th>
                        <a href="{{ path('country.show',
                            {slug: country.slug}
                            |merge(queryParams|merge({sortBy: 'apiTimestamp', direction: nextDirection }))) }}">
                            Date
                        </a>
                    </th>
                    <th>
                        <a href="{{ path('country.show',
                            {slug: country.slug}
                            |merge(queryParams|merge({sortBy: 'confirmed', direction: nextDirection }))) }}">
                            Confirmed
                        </a>
                    </th>
                    <th><a href="{{ path('country.show',
                            {slug: country.slug}
                            |merge(queryParams|merge({sortBy: 'deaths', direction: nextDirection }))) }}">
                            Deaths
                        </a></th>
                    <th><a href="{{ path('country.show',
                            {slug: country.slug}
                            |merge(queryParams|merge({sortBy: 'recovered', direction: nextDirection }))) }}">
                            Recovered
                        </a></th>
                </tr>
                </thead>
                <tbody>
                {% for stat in pager %}
                    <tr>
                        <td>{{ stat.apiTimestamp|date }}</td>
                        <td>{{ stat.confirmed | default('--') }}</td>
                        <td>{{ stat.deaths | default('--') }}</td>
                        <td>{{ stat.recovered | default('--') }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {# display navigation #}
            <div class="navigation float-end">
                {{ pagerfanta(pager, {'omitFirstPage': true }) }}
            </div>
        </div>
        <div class="tab-pane" id="messages" role="tabpanel" tabindex="0">...</div>
    </div>
    <a href="{{ path('country.index') }}">back to list</a>
{% endblock %}
