{% extends 'base.html.twig' %}
{% block title %}Country{% endblock %}
{% block body %}
    <h1>{{ country.name }}<img class="ms-3" src="{{ asset('flags-malenkie/') }}{{ country.flag }}" alt="flag"/>
    </h1>
    <!-- Nav tabs -->
    <div class="row">
        <div class="col-8">
            <turbo-frame id="country_chart" src="{{ path('country.chart', {slug: country.slug}) }}">
                <div class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </turbo-frame>
        </div>
        <div class="col-4">
            <turbo-frame id="single_country_table" data-turbo-action="advance">
                {{ include('country/single_country_table.html.twig', with_context = true) }}
            </turbo-frame>
        </div>

        <div class="col">
            <div class="ms-auto me-auto"><p><a href="{{ path('country.index') }}">back to list</a></p></div>
        </div>
    </div>
{% endblock %}
