{% extends 'base.html.twig' %}
{% block title %}Country{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="title">{{ country.name }}<img class="ms-3" src="{{ asset('flags-malenkie/') }}{{ country.flag }}"
                                                 alt="flag"/>
        </h1>

        <nav class="level is-mobile">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Population</p>
                    <p class="subtitle">{{ country.population }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Density</p>
                    <p class="subtitle">{{ country.populationDensity }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">MedianAge</p>
                    <p class="subtitle">{{ country.medianAge }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">aged65</p>
                    <p class="subtitle">{{ country.aged65Older }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">aged70</p>
                    <p class="subtitle">{{ country.aged70Older }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">diabetes</p>
                    <p class="subtitle">{{ country.diabetesPrevalence }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">handwashing</p>
                    <p class="subtitle">{{ country.handwashingFacilities }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">hospitalBeds</p>
                    <p class="subtitle">{{ country.hospitalBedsPerThousand }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">lifeExpectancy</p>
                    <p class="subtitle">{{ country.lifeExpectancy }}</p>
                </div>
            </div>
        </nav>

        <div class="columns is-multiline">
            <div class="column is-7">
                <turbo-frame id="country_chart" src="{{ path('country.chart', {slug: country.slug}) }}">
                    <div class="text-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </turbo-frame>
            </div>
            <div class="column is-5">
                <turbo-frame id="single_country_table" data-turbo-action="advance">
                    {% include('country/single_country_table.html.twig') %}
                </turbo-frame>
            </div>


                <div class="ms-auto me-auto"><p><a href="{{ path('country.index') }}">back to list</a></p></div>

        </div>
    </div>
{% endblock %}
